<header>
    <h2>Por País</h2>

    <hr />

    <form
        (ngSubmit)="buscar()"
        autocomplete="off"
    >
        <input
            type="search"
            name="termino"
            placeholder="Buscar país..."
            class="form-control"
            [(ngModel)]="termino"
        />
        <div class="mt-1 alert alert-danger">
            No se encontró nada con el término asdfasdf
        </div>
    </form>
</header>

<article>
    <section>
        <table class="table table-hover table-striped align-middle">
            <thead>
                <th>#</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Población</th>
                <th></th>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>nombre pais</td>
                    <td>12345</td>
                    <td>
                        <a href="/pais/col">Ver...</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bandera</td>
                    <td>nombre pais</td>
                    <td>12345</td>
                    <td>
                        <a href="/pais/col">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</article>
