<header>
    <h2>Región: {{ regionActiva | titlecase }}</h2>

    <hr />

    <nav>
        <ul class="nav nav-fill nav-tabs">
            <li
                *ngFor="let region of regiones"
                class="nav-item"
            >
                <!-- [class.active]="region === regionActiva" -->
                <!--
                    [ngClass]="{
                        active: region === regionActiva
                    }"
                -->
                <!--
                    [class]="
                        region === regionActiva ? 'nav-link active' : 'nav-link'
                    "
                -->
                <button
                    [class]="getClaseCss(region)"
                    (click)="activarRegion(region)"
                >
                    {{ region | titlecase }}
                </button>
            </li>
        </ul>
    </nav>
</header>

<article class="mt-3">
    <section>
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </section>
</article>
